@if(isOpenComponent()===trainInfo.trip_number){
    <div class="overflow-auto max-h-[400px] max-w-full border rounded-lg relative">
        <table mat-table [dataSource]="dataSource" class="min-w-max table-auto striped-table">
    
            <ng-container matColumnDef="fromTo">
                <th mat-header-cell *matHeaderCellDef
                    class="sticky left-0 top-0 z-30 table-head-color text-white font-bold">
                    From → To
                </th>
                <td mat-cell *matCellDef="let element"
                    class="sticky left-0 z-20 table-head-color text-white border font-bold">
                    {{element.fromTo}}
                </td>
            </ng-container>
    
            @for (column of getDisplayedColumns(); track column) {
            <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef class="text-white border py-2 px-4 table-head-color">
                    {{ column }}
                </th>
                <td mat-cell *matCellDef="let element" class="border td-p-0 text-center relative z-1">
                    @if(element[column]){
                    <div class="p-1">
                        <div class="bg-green-50 border rounded-xl p-0 w-[100%] text-center shadow-sm overflow-hidden">
                            <div class="text-green-700 font-bold text-lg p-0">6</div>
    
                            <div class="text-green-800 text-sm p-0">৳65</div>
                            <div class="p-1">
                                <div class="buy-btn rounded">
                                    <i class="fa fa-cart-plus"></i>
                                    Buy
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </td>
            </ng-container>
            }
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky top-0 z-25"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row-custom"></tr>
        </table>
    </div>
}