.mat-row-custom:nth-child(even) {
  background-color: #00674607;
}
thead{
    tr{
        th{
            background-color: #006747 !important;
        }
    }
}

.table-head-color{
    background-color: #006747 !important;

}
.buy-btn{
    background-color: #006747 !important;
    color: white;
    &:hover{
        cursor: pointer;
        background-color: #003f2b !important;
    }
}
.border{
    border-color: #cccfce;
}

.td-p-0{
    padding: 0px !important;
}


.bg-location-icon{
  background-color:#006747;
}
mat-expansion-panel{
  .mat-expanded{
    border-bottom: #003f2b 2px solid;
  }
}
