/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Roboto';
  font-weight: 200; /* For Roboto Light */
  font-style: light;
  src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
  font-display: swap; /* Improves perceived loading performance */
}

@font-face {
  font-family: 'Roboto';
  font-weight: 300; /* For Roboto Bold */
  font-style: thin;
  src: url('assets/fonts/Roboto-Thin.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400; /* For Roboto Regular */
  font-style: normal;
  src: url('assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-display: swap;
}

/* Example for Roboto Medium */
@font-face {
    font-family: 'Roboto';
    font-weight: 500; /* For Roboto Medium */
    font-style: normal;
    src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700; /* For Roboto Medium */
  font-style: normal;
  src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-display: swap;
}
